<%= render :partial => "shared/header" %>
<h1>Editing: <%= @item.title %></h1>

<div class="content-wrapper formStyle">
  <%= render 'form' %>

  <div>
    <%= link_to 'Back to All Items', admin_items_path %>
  </div>
</div>
