<%= render :partial => "shared/header" %>
<div class='container-fluid'>

  <div class='row'>
    <div class='col-md-3 col-lg-3 col-lg-offset-1 picture3'>

    </div>
    <div class='col-md-6 col-lg-6 description content-wrapper formStyle'>
      <h3>Emily "$HOW ME THE MONEY!" Davis</h3>

      <p>Well, the way they make shows is, they make one show. That show's called a pilot.
        Then they show that show to the people who make shows, and on the strength of that one
        show they decide if they're going to make more shows. Some pilots get picked and become
        television programs. Some don't, become nothing. She starred in one of the ones that became
        nothing.</p>

        <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men.
        Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness,
        for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great
        vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is
        the Lord when I lay My vengeance upon thee.</p>

    </div>

  </div>

  <div class='row'>

    <div class='col-md-3 col-lg-3 col-lg-offset-1 picture1'>

    </div>
    <div class='col-md-6 col-lg-6 description content-wrapper formStyle'>
      <h3>"My name is Rob and I like to Party" Gu</h3>

      <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it?
      Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes
      when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store,
      because you're here shopping for an infant named Jeb.</p>

     <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men.
     Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness,
     for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great
     vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is
     the Lord when I lay My vengeance upon thee.</p>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-3 col-lg-3 col-lg-offset-1 picture2'>

    </div>
    <div class='col-md-6 col-lg-6 description content-wrapper formStyle'>
      <h3>Tim "All your ladies belongz to me!" Proctor</h3>

      <p>The path of the righteous man is beset on all sides by the iniquities
        of the selfish and the tyranny of evil men. Blessed is he who, in the name of
        charity and good will, shepherds the weak through the valley of darkness, for he
        is truly his brother's keeper and the finder of lost children. And I will strike
        down upon thee with great vengeance and furious anger those who would attempt to
        poison and destroy My brothers. And you will know My name is the Lord when I lay
        My vengeance upon thee.</p>

        <p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised
        as the most popular gun in American crime. Do you believe that shit? It actually says that in
        the little book that comes with it: the most popular gun in American crime. Like they're actually
        proud of that shit.</p>

    </div>
  </div>

  <div class='row'>
    <div class='col-md-3 col-lg-3 col-lg-offset-1 picture4'>

    </div>
    <div class='col-md-6 col-lg-6 description gus content-wrapper formStyle'>
      <h3>Gustavo "THE original chicken brother" Villagrana</h3>

      <p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while
         I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case,
         it don't belong to me.Besides, I've already been through too much shit this morning over this case to hand
         it over to your dumb ass.</p>

        <p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised
        as the most popular gun in American crime. Do you believe that shit? It actually says that in
        the little book that comes with it: the most popular gun in American crime. Like they're actually
        proud of that shit.</p>

    </div>
  </div>


</div>
