<%= render :partial => "shared/header" %>
<div class='container-fluid'>

  <div class='row'>
    <div class='col-md-3 col-lg-3 col-lg-offset-1 picture3'>

    </div>
    <div class='col-md-6 col-lg-6 description content-wrapper formStyle'>
      <h3>Emily "$HOW ME THE MONEY!" Davis</h3>

      <p>Jujubes cotton candy chocolate cake bear claw chocolate cake. Jelly beans muffin pastry brownie.
      Liquorice chocolate cupcake fruitcake soufflé fruitcake gummi bears sweet topping. </p>

      <p>Liquorice icing cotton candy jujubes. Sweet topping oat cake muffin croissant marzipan powder cupcake. Gummi bears candy canes apple pie apple pie donut cotton candy. Fruitcake donut oat cake.
      Carrot cake gummi bears unerdwear.com sugar plum dessert biscuit oat cake.
      Gummies muffin candy canes fruitcake cheesecake liquorice. Toffee jujubes caramels gingerbread icing donut pudding bonbon. Pie jelly-o donut tart pie ice cream. Bear claw candy sesame snaps. Liquorice lollipop bonbon candy jelly beans caramels brownie. Danish tart toffee fruitcake danish icing chocolate bar sugar plum topping. Cookie fruitcake wafer cake candy canes liquorice muffin sweet roll bear claw. Chupa chups ice cream marzipan muffin dessert jelly beans sugar plum biscuit. Croissant lemon drops cupcake. Powder jujubes soufflé chupa chups chocolate lemon drops sugar plum.</p>

    </div>

  </div>

  <div class='row'>

    <div class='col-md-3 col-lg-3 col-lg-offset-1 picture1'>

    </div>
    <div class='col-md-6 col-lg-6 description content-wrapper formStyle'>
      <h3>"My name is Rob and I like to Party" Gu</h3>


           <p>Jujubes cotton candy chocolate cake bear claw chocolate cake. Jelly beans muffin pastry brownie.
           Liquorice chocolate cupcake fruitcake soufflé fruitcake gummi bears sweet topping. </p>

           <p>Liquorice icing cotton candy jujubes. Sweet topping oat cake muffin croissant marzipan powder cupcake. Gummi bears candy canes apple pie apple pie donut cotton candy. Fruitcake donut oat cake.
           Carrot cake gummi bears unerdwear.com sugar plum dessert biscuit oat cake.
           Gummies muffin candy canes fruitcake cheesecake liquorice. Toffee jujubes caramels gingerbread icing donut pudding bonbon. Pie jelly-o donut tart pie ice cream. Bear claw candy sesame snaps. Liquorice lollipop bonbon candy jelly beans caramels brownie. Danish tart toffee fruitcake danish icing chocolate bar sugar plum topping. Cookie fruitcake wafer cake candy canes liquorice muffin sweet roll bear claw. Chupa chups ice cream marzipan muffin dessert jelly beans sugar plum biscuit. Croissant lemon drops cupcake. Powder jujubes soufflé chupa chups chocolate lemon drops sugar plum.</p>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-3 col-lg-3 col-lg-offset-1 picture2'>

    </div>
    <div class='col-md-6 col-lg-6 description content-wrapper formStyle'>
      <h3>Tim "All your ladies belongz to me!" Proctor</h3>


      <p>Jujubes cotton candy chocolate cake bear claw chocolate cake. Jelly beans muffin pastry brownie.
      Liquorice chocolate cupcake fruitcake soufflé fruitcake gummi bears sweet topping. </p>

      <p>Liquorice icing cotton candy jujubes. Sweet topping oat cake muffin croissant marzipan powder cupcake. Gummi bears candy canes apple pie apple pie donut cotton candy. Fruitcake donut oat cake.
      Carrot cake gummi bears unerdwear.com sugar plum dessert biscuit oat cake.
      Gummies muffin candy canes fruitcake cheesecake liquorice. Toffee jujubes caramels gingerbread icing donut pudding bonbon. Pie jelly-o donut tart pie ice cream. Bear claw candy sesame snaps. Liquorice lollipop bonbon candy jelly beans caramels brownie. Danish tart toffee fruitcake danish icing chocolate bar sugar plum topping. Cookie fruitcake wafer cake candy canes liquorice muffin sweet roll bear claw. Chupa chups ice cream marzipan muffin dessert jelly beans sugar plum biscuit. Croissant lemon drops cupcake. Powder jujubes soufflé chupa chups chocolate lemon drops sugar plum.</p>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-3 col-lg-3 col-lg-offset-1 picture4'>

    </div>
    <div class='col-md-6 col-lg-6 description gus content-wrapper formStyle'>
      <h3>Gustavo "Fring" Villagrana</h3>


              <p>Jujubes cotton candy chocolate cake bear claw chocolate cake. Jelly beans muffin pastry brownie.
              Liquorice chocolate cupcake fruitcake soufflé fruitcake gummi bears sweet topping. </p>

              <p>Liquorice icing cotton candy jujubes. Sweet topping oat cake muffin croissant marzipan powder cupcake. Gummi bears candy canes apple pie apple pie donut cotton candy. Fruitcake donut oat cake.
              Carrot cake gummi bears unerdwear.com sugar plum dessert biscuit oat cake.
              Gummies muffin candy canes fruitcake cheesecake liquorice. Toffee jujubes caramels gingerbread icing donut pudding bonbon. Pie jelly-o donut tart pie ice cream. Bear claw candy sesame snaps. Liquorice lollipop bonbon candy jelly beans caramels brownie. Danish tart toffee fruitcake danish icing chocolate bar sugar plum topping. Cookie fruitcake wafer cake candy canes liquorice muffin sweet roll bear claw. Chupa chups ice cream marzipan muffin dessert jelly beans sugar plum biscuit. Croissant lemon drops cupcake. Powder jujubes soufflé chupa chups chocolate lemon drops sugar plum.</p>

    </div>
  </div>


</div>
