<h1><%= @user.full_name %></h1>

<table class="table" >
  <thead>
    <tr>
      <th>Email:</th>
      <th>Display Name:</th>
      <th>Previous Orders:</th>
    </tr>
  </thead>

  <tbody>
    <td><%= @user.email %></td><br/>
    <td><%= @user.display_name %></td><br/>
  </tbody>
</table>

<%= link_to 'Back to Menu', items_path %>
