<div id='about_us'>
  <div id='about_us_text'>
    <div class= 'col-lg-12 col-md-12 col-sm-12'>
      <h2>Yes We Can</h2>
      <div>
        Serve you better pie than your grandma can make. We serve some of the
        sweet classics like Apple and Key Lime. We'll hit you some savory pies
        to start like our pulled pork and chicken pot pie.  Or try our house made
        orginal Baltimore Bomb.  All made with traditional crust, or go gluten free.
        So come on in and treat yo self.
      </div>
    </div>
  </div>
</div>

<!--slider -->
<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src='http://static.wixstatic.com/media/ebafd0_10100a12ebe0dbe63afc018c193812da.jpg_srz_p_698_521_85_22_0.50_1.20_0.00_jpg_srz' alt="...">
      <div class="carousel-caption">
        Baltimore Bomb
      </div>
    </div>
    <div class="item">
      <img src="http://static.wixstatic.com/media/ebafd0_7ed88aa8e3236f1247214d2175687568.jpg_srz_p_698_622_85_22_0.50_1.20_0.00_jpg_srz" alt="...">
      <div class="carousel-caption">
        Apple Pie
      </div>
    </div>
    <div class="item">
      <img src="http://static.wixstatic.com/media/ebafd0_16dcaf1d4722e2dffff2480af9ee3e78.jpg_srz_p_698_422_85_22_0.50_1.20_0.00_jpg_srz" alt="...">
      <div class="carousel-caption">
        Pork BBQ
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!--end of slider -->





<footer class='container-fluid'>
  <div id='footer_content'>
    <div class='row'>
      <div class='col-lg-4 col-md-4 col-sm-4'>
        Obligatory social media icons go here
      </div>
      <div class='col-lg-4 col-md-4 col-sm-4'>
        <ul>
          <li>Dangerously Delicious Pies</li>
          <li>13339 H Street Washington DC 20002</li>
          <li>202.398.7437</li>
        <ul>
      </div>
    </div>
  </div>

</footer>
