<footer class='container-fluid'>
  <div id='footer_content'>
    <div class='row'>
      <div class='col-lg-4 col-md-4 col-sm-4'>
        Obligatory social media icons go here
      </div>
      <div class='col-lg-4 col-md-4 col-sm-4'>
        <ul>
          <li>Dangerously Delicious Pies</li>
          <li>13339 H Street Washington DC 20002</li>
          <li>202.398.7437</li>
        <ul>
      </div>
    </div>
  </div>

</footer>

<div class="mastfoot">
  <div class="inner">
    <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  </div>
</div>
