<div id='about_us'>
  <div id='about_us_text'>
    <div class= 'col-lg-12 col-md-12 col-sm-12'>
      <h2>Yes We Can</h2>
      <div>
        Serve you better pie than your grandman can make. We serve some of the
        sweet classics like Apple and Key Lime. We'll hit you some savory pies
        to start like our pulled pork and chicken pot pie.  Or try our house made
        orginal Baltimore Bomb.  All made with traditional crust, or go gluten free.
        So come on in and treat yo self.
      </div>
    </div>
  </div>
</div>




<footer class='container-fluid'>
  <div id='footer_content'>
    <div class='row'>
      <div class='col-lg-4 col-md-4 col-sm-4'>
        Obligatory social media icons go here
      </div>
      <div class='col-lg-4 col-md-4 col-sm-4'>
        <ul>
          <li>Dangerously Delicious Pies</li>
          <li>13339 H Street Washington DC 20002</li>
          <li>202.398.7437</li>
        <ul>
      </div>
    </div>
  </div>

</footer>
