<h1>Our Dangerously Delicious Pies</h1>

<table class="table">
	<thead>
		<tr>
			<th>Pie Name:</th>
			<th>Description:</th>
			<th>Price/Slice:</th>
			<th>Price/Pie:</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @items.each do |item| %>
			<tr>
				<td class='pie_title'><%= link_to item.title, item %></td>
				<td class='pie_description'><%= item.description %></td>
				<td class='pie_price'><%= item.price_slice %></td>
				<td class='pie_price'><%= item.price_pie %></td>
      </tr>
    <% end %>
  </tbody>
</table>
