<%= render :partial => "shared/header" %>
<div class='container-fluid' %>
  <div id='emily'>
    <div class='row'>
      <div class='col-lg-7 col-md-7 col-sm-7'>
        <div id='emily_image'>
          Emilys image goes here
        </div>
      </div>
      <div class='col-md-5 col-lg-5 col-sm-5'>
        Emily is cool
      </div>
    </div>
  </div>
  <div id='tim'>
  </div>
  <div id='gustavo'>
  </div>
  <div id='gu'>
    <div class='row'>
      <div class='col-lg-7 col-md-7 col-sm-7'>
        <div id='emily_image'>
          Gu's image here
        </div>
      </div>
      <div class='col-md-5 col-lg-5 col-sm-5'>
        Gu is cool
      </div>
    </div>
  </div>
</div>
