header {
  background-color: #0075a1;
  /*font-family: 'Georgia';*/
  height: 125px;
  color:white;
}

li {
  list-style: none;
}

#title{
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.2px;
  font-size: 24px;

  display: inline-block;
  }

#title ul{
  padding: 10px 0 0 0;
  display: inline-block;
}

header a{
  text-decoration: none;
  color: inherit;
}

header a:hover{
  color: #60464b;
  text-decoration: none;
}

#menu {
  float: right;
  margin-top: 50px;
  margin-right: 2%;
}

#menu li {
  /*font-family: Georgia;*/
  display: inline;
  margin-left: 20px;
  font-size: 16px;
}

.pie_picture img{
  width:270px;
  height:200px;
}

.content {
  padding: 30px;
}

#about_us {
  background-image: url('about_us_bg_image.jpg');
  background-size: cover;
  height: 450px;
  width:auto;
}

#about_us h2 {
  color:black;
}

.item {
  background-image: url('about_us_bg_image.jpg');
}

#about_us_text {
  font-size: 1.2em;
  color:black;
  padding: 12%;
  font-weight: 600;
}

#about_us_text h2{
  font-size: 3.5em;
  margin-top: 0px;
  margin-bottom: 5%;
  margin-left: 12%;
}


footer{
  background-color: #60464b;
  height: 129px;
  font-family: 'Georgia';
}

#footer_content{
  margin-top: 10px;
}

#carousel img {
  width: 100%;
  background-size: cover;
  overflow: hidden;
  height: 450px;
}

.carousel-caption {
  font-size: 40px;
}

.item_quantity_changer {
  padding-left: 20px;
  font-size: 16px;
}

.modal-title {
  font-size: 36px;
  color: #60464b;
}
