body {
  background: url('wedding-pie-buffet.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.site-wrapper {
  background:  url('about_us_bg_image.jpg'), no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 950px;
}

.content-wrapper {
  padding: 35px;
}

.pie_picture img{
  width:320px;
  height:255px;
}

#about_us {
  background-image: url('about_us_bg_image.jpg');
  background-size: cover;
  height: 450px;
  width:auto;
}

#about_us h2 {
  color:black;
}

.item {
  background-image: url('about_us_bg_image.jpg');
}

#about_us_text {
  font-size: 1.2em;
  color:black;
  padding: 12%;
  font-weight: 600;
}

#about_us_text h2{
  font-size: 3.5em;
  margin-top: 0px;
  margin-bottom: 5%;
  margin-left: 12%;
}


/*footer{
  background-color: #60464b;
  height: 129px;
  font-family: 'Georgia';
}

#footer_content{
  margin-top: 10px;
}*/

#carousel img {
  width: 100%;
  background-size: cover;
  overflow: hidden;
  height: 450px;
}

.carousel-caption {
  font-size: 40px;
}

.item_quantity_changer {
  padding-left: 20px;
  font-size: 16px;
}

.modal-title {
  font-size: 36px;
  color: #60464b;
}

#buttonStyling{
  font-family: 'Georgia';
  color: white;
  background-color:  #0075a1;
  border: none;
  font-size: 16px;
  float: left;
  margin-bottom: 100px;
}

#buttonStyling:hover {
color: #60464b;
}

.align_menu {
  margin-top: 6px;
}

.pie_picture {
  display: inline-block;
}

.pie_picture {
  padding: 15px;
  text-align: center;
}

.modal-header button{
  display: none;
}


.titlePriceStyle {
  background-color:white;
  color: #0075a1;
  border:none;
  font-size: 24px;
}

.cover-heading {
  margin-top: 45px;
  font-size: 60px;
}

.lead {
  margin-top: 55px;
  padding: 0 100px 0 100px;
}

.lead strong {
  font-size: 24px;
}


.menu_spacing {
  margin-left: 20px;
}

.picture1 {
  background: url('gu.jpg');
  background-size: cover;
  height: 240px;
  width:auto;
  margin-top:30px;
}

.description{
  margin-left: 30px;
  margin-top: 10px;
}

.picture2 {
  background: url('tim_proc.jpg');
  background-size: cover;
  height: 270px;
  width:auto;
  margin-top:30px;
}

.picture3 {
  background: url('emily.jpg');
  background-size: cover;
  height: 280px;
  margin-top:20px;
  width:auto;
}

.picture4 {
  background: url('gus.jpg');
  background-size: cover;
  height: 240px;
  width:auto;
  margin-top:40px;
}

.gus {
  margin-top: 20px;
}

.formStyle {
  opacity:0.8;
  background-color: white;
}
