header {
  background-color: #0075a1;
  font-family: 'Georgia';
  height: 125px;
  color:white;
}

li {
  list-style: none;
}

#title{
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.2px;
  font-size: 24px;

  display: inline-block;
  }

#title ul{
  padding: 10px 0 0 0;
  display: inline-block;
}

header a{
  text-decoration: none;
  color: inherit;
}

header a:hover{
  color: #60464b;
  text-decoration: none;
}

#menu {
  float: right;
  margin-top: 50px;
  margin-right: 2%;
}

#menu li {
  font-family: Georgia;
  display: inline;
  margin-left: 20px;
  font-size: 16px;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
