<h1>Welcome to the Adminstrative Dashboard</h1>

<table class="table">
  <thead>
    <tr>
      <th>Menu Managment</th>
      <th>Order/Customer Managment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= link_to 'Menu Item Managment', admin_items_path %><br/>
        <%= link_to 'Menu Category Managment', admin_categories_path %>
      </td>
      <td>
        <%= link_to 'Order Management', "#" %><br/>
        <%= link_to 'Customer Account Managment', "#" %>
      </td>
    </tr>
  </tbody>
</table>
