<h1>Welcome to the Adminstrative Dashboard</h1>

<table class="table">
  <thead>
    <tr>
      <th>Menu Management</th>
      <th>Order/Customer Management</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= link_to 'Menu Item Management', admin_items_path %><br/>
        <%= link_to 'Menu Category Managment', admin_categories_path %>
      </td>
      <td>
        <%= link_to 'Order Management', admin_orders_path %><br/>
        <%= link_to 'Customer Account Management', "#" %>
      </td>
    </tr>
  </tbody>
</table>
